@model ModelValidation.Models.Appointment
@{
    ViewBag.Title = "Compleated";
}

<h2>Your Appointment is confirmed!!!</h2>
<p>Your name is : <b>@Html.DisplayFor(m => m.ClientName )</b></p>
<p>The day of you appointment is <b>@Html.DisplayFor(m => m.Date)</b></p>
