@model ModelBinding102.Models.Person
@{
    ViewBag.Title = "Result";
}

<h2>Result</h2>

<p>Person ID : @Model.PersonId</p>
<p>Person First Name : @Model.FirstName</p>
<p>Person Last Name : @Model.LastName</p>
