
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>I Have an awesome shared layout</p>

@section scripts
{
    <script>
        alert('HELLO');
    </script>

    <script src="~/scripts/App/alert.js"></script>
}
