
@{
    ViewBag.Title = "CustomVariable";
}

<h2>Custom Variable</h2>

<p>the controller is : @ViewBag.Controller</p>
<p>the action is : @ViewBag.Action</p>
<p>the custom variable is : @ViewBag.CustomVariable</p>

